.card {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1em;
}

.marked {
  resize: none;
  border: none;
  height: 90vh;
}

.markedInfo {
  display: flex;
  align-items: center;
  gap: 1em;
}

.markedInfo code {
  padding: 0em 0.5em;
  border-radius: 2em;
}

.card h2 {
  padding-bottom: 0.5em;
  font-weight: 700;
}

.preview {
  background: rgb(30, 29, 29);
  color: #ffffff;
  height: 90vh;
  overflow-y: scroll;
  line-height: 1.5em;
  word-wrap: break-word;
}

.previewText h1,
.previewText h2{
  border-bottom: 1px solid rgb(50, 49, 49);
}

.previewText h1,
.previewText h2,
.previewText h3,
.previewText h4,
.previewText h5,
.previewText h6 {
  margin: 1em 0em;
  padding: 0.5em 0em;
}

.previewText {
  padding: 1em;
  letter-spacing: 0.025em;
}

.previewText img {
  max-width: 100%;
  margin: 1em 0em;
}

@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr
  }
  .marked {
    margin-bottom: 3em;
  }
}
